@font-face {
    font-family: 'Pokemon Solid';
    src: url(../fonts/Pokemon\ Solid.ttf) format('truetype');
}

body {
    background-image: url(../images/fundo-site.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.nav-bar {
  background-color: #24252a;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  width: 100%;
  /* position: fixed; */
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo h1 {
  color: #fff;
  font-size: 2.5rem;
}

.logo img {
  width: 32px;
  height: 32px;
}

.navegation {
  display: flex;
  align-items: center;
}

 ul{
 display: flex;
 align-items: center;
 gap: 25px;
 font-size: 1.15rem;
}

ul a {
  color: #fff;
}

.search-navegation {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-navegation input {
  outline: none;
  border: 1px solid #24252a;
  border-radius: 5px;
  padding: 7px;
}

.button-nav {
  padding: 5px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 732px) {
  .navegation {
    display: none;
  }

  .search-navegation {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    text-align: center;
  }

  .mobile-menu-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    background-color: #24252a6b;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1.2rem;
  }

  .open {
    display: block;
  }
}